
mat-form-field{
  width: 50%;
}


mat-card-header{
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 8px;
}

mat-action-row{
  border-top: black 1pt;
  margin: 2rem;
  width: 70%;
}
