mat-card{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  width: 94%;
}

mat-form-field{
  width: 50%;
}


mat-card-header{
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 8px;
}

mat-action-row{
  border-top: black 1pt;
  margin: 2rem;
  width: 70%;
}



