<mat-card>
  <mat-card-header
                   fxLayout="column"
                   fxLayoutAlign="center center"
                   fxLayoutGap="10px">
    <h1>Home</h1>
  </mat-card-header>
  <mat-card-content class="fill" fxLayout="column"
                    fxLayoutAlign="center center"
                    fxLayoutGap="10px">

    <h1>Add Links</h1>
    <div class="flex-container">
      <mat-card><h4>1</h4></mat-card>
      <mat-card><h4>2</h4></mat-card>
      <mat-card><h4>3</h4></mat-card>
      <mat-card><h4>4</h4></mat-card>
      <mat-card><h4>5</h4></mat-card>
      <mat-card><h4>6</h4></mat-card>

    </div>

  </mat-card-content>
</mat-card>
