mat-card{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  width: 94%;
}

mat-form-field{
  width: 50%;
}


mat-card-header{
  width: 95%;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 8px;
}
.fill{
  width: 95%;
  height: 300px;
}


