mat-card{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  width: 94%;
}

mat-form-field{
  width: 50%;
}


mat-card-header{
  width: 95%;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 8px;
}
.fill{
  width: 95%;
  height: 300px;
}

.flex-container {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  align-content: center;
  background-color: DodgerBlue;
}

.flex-container > mat-card {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


