<mat-card>
  <mat-card-content>
    <div *ngIf="person"
         fxLayout="column"
         fxLayoutAlign="center center"
         fxLayoutGap="5px">
      <mat-form-field>
        <input matInput name="firstName"
               placeholder="First Name"
               disabled
               [(ngModel)]="person.firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="lastName"
               placeholder="Last Name"
               disabled
               [(ngModel)]="person.lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="email"
               placeholder="Email"
               disabled
               [(ngModel)]="person.email">
      </mat-form-field>
      <img *ngIf="showImage" height="250"
           width="250"
           [src]="imageSource">
    </div>
  </mat-card-content>
</mat-card>
